/* .Brand {
    display: inline-block;
    padding: 0;
    margin: 0;
    /* border: 2px solid yellow; */
    /* align-items: center;
} */
 .BrandImg {
    width: 60px;
    height: 70px;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    left: 0;
    vertical-align: unset;
    
}
.navbar-brand img {
    width: 68px;
    height: 68px;
    margin-left: 20px;
    padding-left: 20px;
    position: absolute;
    left: 0;
    top: -24px;
    z-index: 4020;
}
.container {
    display: inline-block;
    border: 2px solid green;
    padding-left: 20px;
    padding-right: 20px;
    
} 